* {
	margin: 0;
	color: var(--foreground-1);
	transition: background 300ms ease-out, color 300ms ease-out;
    --page-background: #f5f5f5;

	--border-background: #rgb(245, 245, 245, 0.9);
	--border-background-alt: #f5f5f5;
		
	--foreground-1: #131112;
	--foreground-3: #696969;

	--nav-background: #e2e2e2; /*8AF3FF light blue*/
	--nav-border: #696969;
	
	--nav-link-hover: #e5e5e5;
	
	--project-background: #ffffff;
	--project-border: rgba(0 0 0 / 5.5%);
	--project-shadow-hover: rgb(0 0 0 / 16%);
	--project-shadow-light: rgb(0 0 0 / 4%);
    --project-text-light: #f5f5f5;
    --project-text-dark: #131112;
}

.animate-in {
	animation-name: animate-in;
	animation-duration: 0.2s;
	animation-delay: calc(var(--animation-order) * 1s);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.5);
	position: relative;
}

@keyframes animate-in {
	0% {
		opacity: 0;
		transform: scale(1);
		top: 16px;
	}
	100% {
		opacity: 1;
		transform: scale(1.05);
		top: 0;
	}
}

@media (prefers-reduced-motion) {
	.animate-in,
	nav {
		animation: none !important;
	}
}

html,
body {
	height: 100%;
	width: 100%;
	scroll-behavior: smooth;
	font-family: "Open Sans", serif;
	background: var(--page-background);
	animation: overlay 0s;
}

@keyframes overlay {
	0% { overflow: hidden; }
	99% { overflow: hidden; }
	100% { overflow: revert; }
}

a {
	text-decoration: none;
	border-bottom: 1px solid var(--foreground-1);
	color: var(--foreground-1);
	position: relative;
	height: 26px;
	display: inline-block;
}

a:hover {
	color: var(--foreground-3);
	border-color: var(--foreground-3);
}

a:focus-visible {
	outline-offset: 2px;
	outline: 2px solid var(--foreground-1);
	border-radius: 1px;
}

h1 {
	font-size: 60px;
	color: var(--foreground-1);
}

p {
	line-height: 150%;
	font-size: 20px;
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
}

main::after {
	content: '';
	top: 64px;
	left: 64px;
	width: calc(100vw - 128px);
	height: calc(100vh - 128px);
	border: 1px solid var(--project-border);
	border-radius: 24px;
	position: fixed;
	pointer-events: none;
	opacity: 1;
	animation: frame 5s ease-out;
	z-index: 500;
}

@keyframes frame {
	0% {
		opacity: 0;
		transform: scale(1.1), ;
	}

	80% {
		opacity: 0;
		transform: scale(1.1);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes drop-in {
	0% {
		top: -2000px;
	}

	80% {
		top: -100vh;
	}

	100% {
		top: 64px;
	}
}

.side {
	position: fixed;
	z-index: 2;
}

.side.y {
	width: 100%;
	height: 64px;
	backdrop-filter: blur(5px);
	background: var(--border-background-alt);
	transition: none;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	.side.y,
	nav {
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		background: var(--border-background);
	}
}

.side.x {
	width: 64px;
	height: 100%;
}

.side.top {
	top: 0;
	z-index: 5;
}

.side.right {
	right: 0;
	z-index: 3;
}

.side.bottom {
	bottom: -2px;
}

.side.left {
	left: 0;
}

.nav-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
}

nav {
	position: fixed;
	top: 80px;
	z-index: 2;
	background: var(--nav-background);
	border-radius: 64px;
	border: 1px solid var(--nav-border);
	box-shadow: 0 8px 20px var(--project-shadow-light);
	transition: background 300ms ease-out, box-shadow 300ms ease-out, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.5);
	padding: 4px;
	animation-name: animate-in-nav;
	animation-duration: 1s;
	animation-delay: calc(var(--animation-order) * 1s);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.18, 0.89, 0.15, 1.5);
}

@keyframes animate-in-nav {
	0% {
		opacity: 0;
		transform: scale(1);
		top: -64px;
	}

	100% {
		opacity: 1;
		transform: scale(1.05);
		top: 80px;
	}
}

@keyframes nav-animate-in {
	0% {
		top: -64px;
	}

	30% {
		top: -64px;
	}

	60% {
		top: 80px;
		box-shadow: 0 8px 20px rgb(0 0 0 / 10%);
		transform: scale(1.02);
	}

	100% {
		box-shadow: 0 8px 20px rgb(0 0 0 / 5%);
		transform: scale(1);
	}
}

nav ul {
	gap: 8px;
	align-items: center;
	display: flex;
	padding: 0;
}

nav ul li {
	list-style: none;
}

nav:hover {
	box-shadow: 0 8px 20px var(--project-shadow-hover);
	transform: scale(1.1);
}

nav a {
	font-size: 16px;
	color: var(--foreground-3);
	padding-bottom: 1px;
	border-bottom: none;
	padding: 4px 12px;
	transition: color 300ms ease-out, background 300ms ease-out, transform 300ms ease-out;
	border-radius: 4px;
	height: 32px;
	display: flex;
	align-items: center;
}

@media (hover: hover) {
	nav a:hover {
		color: var(--foreground-1);
		background: var(--nav-link-hover);
	}
}

nav a:focus-visible {
	border-radius: 1px;
}

nav li:first-child a {
	border-radius: 32px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

nav li:first-child a:focus-visible {
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px;
}

nav li:last-child a {
	border-radius: 32px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

nav li:last-child a:focus-visible {
	border-top-left-radius: 1px;
	border-bottom-left-radius: 1px;
}

nav .line {
	width: 1px;
	height: 20px;
	background: var(--nav-border);
}

section {
	display: flex;
	width: calc(100% - 192px);
	min-height: 80vh;
	padding: 96px;
	justify-content: center;
	align-items: center;
}

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.home p {
	color: var(--foreground-3);
}

.about {
	flex-direction: column;
}

.about img {
	align-items: center;
	border-radius: 50%;
	padding: 8px;
	margin-bottom: 16px;
	max-width: 250px;
	border: 1px var(--foreground-3) dashed;
}

.about .text {
	max-width: 500px;
}

.about .text p {
	margin-bottom: 8px;
	color: var(--foreground-3);
}

.projects {
	gap: 32px;
}

.projects .col {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.projects .col:last-child {
	margin-top: calc(((100vw - 164px) / 2) / 2);
}

.projects .col .project {
	width: calc((100vw - 226px) / 2);
	height: calc((100vw - 226px) / 2);
	transition: box-shadow 300ms ease-out, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.5);
	border: 1px solid var(--project-border);
	border-radius: 16px;
	background-color: var(--project-background);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.projects .col > a {
	border: none;
	height: fit-content;
}

.projects .col > a:focus-visible {
	border-radius: 16px;
}

.project {
	position: relative;
	width: 50%;
}

.projects .col .img-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease-in-out;
	background-color: var(--project-background);
	border-radius: 10px;
}

.projects .col .project:hover .img-overlay {
	opacity: 1;
}

.projects .col .img-overlay-text {
	color: white;
	font-size: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	/*text-align: justify;*/
}

.projects .col .project:hover {
	box-shadow: 0 4px 16px var(--project-shadow-hover);
	transform: scale(1.02);
}

.projects .col .project.moraband {
	background-image: url('../img/projects/chess.jpeg');
}

.projects .col .project.imgdb {
	background-image: url('../img/projects/imgdb.PNG');
}

.projects .col .project.wordpredictor {
	background-image: url('../img/projects/wordpredictor.png');
}

.projects .col .project.bookshelf {
	background-image: url('../img/projects/bookshelf.png');
}

.projects .col .project.coming-soon {
	background-color: var(--project-background);
}

.projects .col .project.blog {
	background-image: url('../img/projects/blog.png');
}

.contact {
	gap: 16px;
	flex-direction: column;
	position: relative;
}

.contact .links {
	display: flex;
	gap: 16px;
}

.contact p {
	text-align: center; 
	color: var(--foreground-3);
}

@media only screen and (min-width: 1200px) {
	main {
		max-width: 1200px;
		margin: 0 auto;
	}

	main::after {
		width: 1200px;
		margin: 0 auto;
		left: 0;
		right: 0;
	}

	.projects .col .project {
		width: 556px;
		height: 556px;
	}
}

@media only screen and (max-width: 700px) {
	main::after {
		top: 8vw;
		left: 8vw;
		width: calc(84vw);
		border: none;
		/*border-radius: 4vw;*/
		height: calc(100dvh - 16vw);
	}

	section {
		padding: 8vw;
		width: calc(100% - 16vw);
	}

	.projects {
		flex-direction: column;
		gap: 0;
	}

	.projects .col {
		width: 100%;
		align-items: center;
	}

	.projects .col .project {
		width: calc(84vw - 36px);
		height: calc(84vw - 36px);
	}

	.projects .col .img-overlay-text {
		top: 25%;
		left: 25%;
		-webkit-transform: translate(-25%, -25%);
		-ms-transform: translate(-25%, -25%);
		transform: translate(-25%, -25%);
		/*text-align: justify;*/
	}

	.side.x {
		display: none;
		width: 8vw;
	}

	.side.y {
		display: none;
		height: 8vw;
	}

	nav {
		/*display: none;*/
		top: auto;
		bottom: min(32px, 12vw);
		margin-top: auto;
		position: fixed !important;
		animation-name: animate-in-nav;
	}

	@keyframes animate-in-nav {
		0% {
			opacity: 0;
			transform: scale(1);
			bottom: -64px;
		}

		100% {
			opacity: 1;
			transform: scale(1.05);
			bottom: min(32px, 12vw);
		}
	}

	nav ul {
		gap: 4px;
	}

	nav a {
		padding: 4px 8px
	}

	.about .text, .contact p {
		max-width: calc(100% - 32px);
	}
}